In [1]:
#1.import python packages and create a Data Frame with dates
import pandas as pd
import numpy as np
data = {"name":['Tom','Dick','Harry','Angshu','Tina','Simran'],
       "score1":[30,60,90,100,80,50],
       "score2":[10,20,50,80,90,20]}
df = pd.DataFrame(data = data,columns = ['name','score1','score2'])
print(df)

     name  score1  score2
0     Tom      30      10
1    Dick      60      20
2   Harry      90      50
3  Angshu     100      80
4    Tina      80      90
5  Simran      50      20

In [2]:
#2. Get info of Data Frame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   score1  6 non-null      int64
 2   score2  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes
None

In [3]:
#3. Get the descriptive statistics from Data Frame
print(df.describe())

           score1    score2
count    6.000000   6.00000
mean    68.333333  45.00000
std     26.394444  33.91165
min     30.000000  10.00000
25%     52.500000  20.00000
50%     70.000000  35.00000
75%     87.500000  72.50000
max    100.000000  90.00000

In [4]:
#4. Get an average of score1
print(df['score1'].mean())

68.33333333333333

In [5]:
#5. Get the minimum of score1 and maximum of score2
print('minimum score1=',df['score1'].min())
print('maximum score2=',df['score2'].max())

minimum score1= 30
maximum score2= 90

In [6]:
#6. Create new column 'total' as sum of score1 and score2

df['total']= df['score1']+df['score2']
print(df)

     name  score1  score2  total
0     Tom      30      10     40
1    Dick      60      20     80
2   Harry      90      50    140
3  Angshu     100      80    180
4    Tina      80      90    170
5  Simran      50      20     70

In [7]:
#7. Find out who all got "total" score of more than 100
print(df[df['total']>100])

     name  score1  score2  total
2   Harry      90      50    140
3  Angshu     100      80    180
4    Tina      80      90    170

In [8]:
#8. Find out who got "total" score of more than 100 AND less than 80 in "score2"
print(df[(df['total'] > 100) & (df['score2'] < 80)])

    name  score1  score2  total
2  Harry      90      50    140

In [9]:
#9. Find out who got "total" score of more than 100 OR more than 50 in "score1"
print(df[(df['total'] > 100) | (df['score1'] < 50)])

     name  score1  score2  total
0     Tom      30      10     40
2   Harry      90      50    140
3  Angshu     100      80    180
4    Tina      80      90    170

In [10]:
#10. Find out who got maximum 'total'
print(df[df['total'] == df['total'].max()])

     name  score1  score2  total
3  Angshu     100      80    180